#header {
  float: left;
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .search {
    position: relative;
    margin-top: 25px;
    width: 300px;
  }
  .search_input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 30px;
    padding: 10px 12px;
    font-size: 14px;
  }
  .search_ico {
    position: absolute;
    width: 17px;
    top: 10px;
    right: 0;
    margin: 0;
  }
  .title {
    color: #366bf6;
    font-size: 30px;
  }
  #alitem {
    background-color: #fff;
    display: flex;
    position: relative;

    span {
      margin-left: 5rem;
    }
  }
  ul {
    list-style-type: none;
    float: right;
  }
  li {
    display: inline;
    padding: 0px 15px;
    text-decoration: none;
    color: #000;
  }
  #ham_line-ham_wrapper {
    margin-left: 30px;
    margin-right: 50px;

    .ham_line {
      background: #366bf6;
      margin-top: 6px;
      width: 30px;
      height: 4px;
      border-radius: 1px;
      display: flex;
    }
  }
}
