#register_box {
  h2 {
    margin-left: 10px;
    font-size: 25px;
  }
  .input-box {
    margin: 10px;
    div {
      font-size: 17px;
    }
    input {
      background: transparent;
      border: none;
      border-bottom: solid 2.5px black;
      padding: 20px 0px 5px 0px;
      font-size: 14pt;
      width: 400px;
    }
  }
  .chk_box {
    margin: 20px;
    width: 340px;
    font-size: 15px;
    input {
      width: 15px;
      height: 15px;
      border: 3px solid black;
    }
  }
  .submit {
    border-radius: 5px;
    position: relative;
    left: 10px;
    background-color: #366bf6;
    width: 400px;
    height: 50px;
    color: #ffffff;
    border: none;
    font-family: 'Poppins', 'Noto Sans KR', sans-serif;
    font-size: 20px;
  }
}
